
.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  /* This makes the main area grow to fill all available space */
  flex: 1; 

  width: 100%;
  max-width: 1280px; /* A standard max-width for content */
  margin: 0 auto; /* This centers the content */
  padding: 1.5rem; /* Add some padding around our pages */
}